@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  color: #333; }

a:visited {
  color: #61C; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  color: #c00;
  outline: 0; }

b, strong {
  font-weight: bold; }

pre, code {
  font-family: monospace, monospace;
  font-size: 1em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 20px; }
